<div class="flex p-4 mt-4 mb-4 bg-base-50 rounded-lg shadow grow">
  <div class="flex flex-col">
    <div class="flex items-center space-x-2">
      <span class="font-bold text-blue"><%= flight.departure_airport.airport_code %></span>
      <span class="text-cyan">→</span>
      <span class="font-bold text-blue"><%= flight.arrival_airport.airport_code %></span>
      <span class="text-base-600"><%= flight.duration.strftime("%Hh %mm") %></span>
      <span class="text-green ml-auto">💺: <%= flight.seats_available %></span>
    </div>
    <div class="text-base-600 text-sm">
      <%= flight.date.strftime("%B %d, %Y") %>
    </div>
  </div>
</div>