<div>
  <h1 class="font-bold text-4xl">Flight Search</h1>
  <%= form_with url: "/flights", method: :get do |form| %>
    <%= form.label :departure_airport_code, "Departure Airport" %>
    <%= form.collection_select :departure_airport_id,
        @airports,
        :id,
        :airport_code,
        { prompt: "Select escaping airport"} %>
   
    <%= form.label :departure_airport_id, "Departure Airport" %>
    <%= form.collection_select :arrival_airport_id,
        @airports,
        :id,
        :airport_code,
        { prompt: "Select your escape"} %>

    <%= form.label :date, "Escape Date" %>
    <%= form.select :date,
        options_from_collection_for_select(
          Flight.get_flight_dates,
          'flight_date_value',
          :flight_date_formatted
        ),
        { prompt: "Select date" } %>


    <%= form.submit "Search", class: "mt-5" %>
  <% end %>
  <% @flights.each do |f|%>
    <%= render "flight_card", flight: f %>
  <% end %>

</div>
